boto3>=1.16.2
botocore>=1.19.2
certifi>=2020.6.20
chardet>=3.0.4
configparser>=5.0.1
docutils>=0.16
idna>=2.10
intelix>=0.1.2
jmespath>=0.10.0
python-dateutil>=2.8.1
requests>=2.24.0
s3transfer>=0.3.3
six>=1.15.0
urllib3>=1.25.11